.mainBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.titleBox {
    margin-left: 10vh;
}

.mainTitle {
    font-weight: 450;
    margin: 0px;
    user-select: none;
}

.imageTitle {
    position: absolute;
    top: 2vh;
    left: 7vh;
    width: 40px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.headerButtons {
    margin: 20px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.buttonText {
    margin: 0px;
    padding: 3px;
    font-size: 17px;
    user-select: none;
}

.headerButtons:last-child {
    margin-right: 30vh;
}

@media screen and (max-width: 450px) {
    .mainTitle {
        font-size: 20px;
    }

    .buttonText {
        font-size: 13px;
    }

    .titleBox {
        margin-left: 3vh;
    }

    .headerButtons {
        margin: 5px;
    }

    .headerButtons:last-child {
        margin-right: 3vh;
    }

    .mainBox {
        height: 10vh;
    }

    .imageTitle {
        position: absolute;
        top: 2vh;
        left: 1vh;
    }
}