.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    border: 1px solid red;
}

.weatherBox {
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 70%;

    background: linear-gradient(180deg, #10C99C 0%, #077989 100%);
    box-shadow: 0px 4px 4px rgba(253, 245, 245, 0.25), 0px 4px 4px rgba(255, 250, 250, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.cityBox {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.locationIcon {
    height: 25px;
}

.cityTitle {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

.temperatureBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatureTitle {
    font-size: 40px;
    font-weight: 350;
}

.temperatureIcon {
    height: 30px;
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    padding-top: 5px;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid red;
}

.spaceInput {
    width: 30%;
}

@media screen and (max-width: 450px) {
    .mainBox {
        justify-content: center;
    }

    .weatherBox {
        width: 70%;
        height: 30%;
    }

    .cityTitle {
        font-size: 17px;
        padding: 0px;
        margin: 0px;
    }

    .cityBox {
        padding-left: 7%;
        padding-top: 5%;
        margin-bottom: 5%;
    }

    .temperatureTitle {
        font-size: 35px;
        font-weight: 350;
        padding: 0;
        margin: 0;
    }

    .temperatureIcon {
        height: 30px;
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
        padding-top: 1px;
    }

    .searchBox {
        margin-bottom: 8%;
    }

    .spaceInput {
        width: 50%;
    }

}